
.form-data input{
    width: 8px;
   height: 10px;
    padding: 17px 153px 17px 154px;
    box-shadow: 0 3px 6px 0 rgba(36, 198, 220, 0.15);
    background-color: #fff;
    border: solid 1px rgb(192, 189, 189);
}

.form-data button{
  width: 80px;
  height: 38px;
  padding: 3px 113px 10px 90px;
  border-radius: 8px;
  background-color: rgb(201, 195, 195);
  border: solid 2px gray;
}